<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921371854981-dififbh0c45b7adfjto64tjblpsuv4e1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921371854981-dififbh0c45b7adfjto64tjblpsuv4e1</string>
	<key>API_KEY</key>
	<string>AIzaSyCmX246-FEd4UW6rDzGFoDJXuBHxAp04Ic</string>
	<key>GCM_SENDER_ID</key>
	<string>921371854981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kgu.baljachwiproject.baljachwiProject</string>
	<key>PROJECT_ID</key>
	<string>baljachwi-16760</string>
	<key>STORAGE_BUCKET</key>
	<string>baljachwi-16760.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921371854981:ios:be1c7285cc74b87f6141ec</string>
</dict>
</plist>